<%@page import="java.util.List"%>
<%@page import="com.skmisk.todolist.entity.Task"%>

<%@ page language="java" contentType="text/html; charset=UTF-8"
	pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Todo list 0.1.2</title>
<link rel="stylesheet" href="bootstrap.css">
</head>
<body>
	Todo list 0.1.1
	<br />

	<form action="addtask.do" method="post">
	<input type="hidden" name="userid" value="<c:out value='${userid}'/>" />
		Input a new task: <input type="text" name="taskName" /> <br /> 
		<p align="left">
		<input
			type="submit" value="Add" /></p>
		<!-- Input Todo detail <input type="text" name="taskDetail"/> <br/> -->

	</form>
	Todo list:
	<br />
	<table border="1" class="table table-bordered table-condensed" style="width:50%">
		<tr>
			<th style="width:5%">Task id</th>
			<th style="width:10%">标记完成</th>
			<th style="width:30%">Task</th>
			<th style="width:5%">Action</th>
		</tr>
		<c:forEach var="task" items="${tasks}">
			<tr>
				<td><c:out value='${task.id }' /></td>
				<td><a href="finishtask.do?taskId=<c:out value='${task.id }'/>&userid=<c:out value='${userid}'/>">
						完成 </a></td>
				<td><c:choose>
						<c:when test="${task.finished}">
							<del>
								<c:out value='${task.name }' />
							</del>
						</c:when>
						<c:otherwise>
							<c:out value='${task.name }' />
						</c:otherwise>
					</c:choose></td>
				<td><a href="deletetask.do?taskId=<c:out value='${task.id }'/>&userid=<c:out value='${userid}'/>">删除</a></td>
			</tr>
		</c:forEach>

	</table>
</body>
</html>